<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div id="panel<%= i %>" class="x_panel">
        <div class="x_title">
            <h3 id="title<%= i %>"></h3>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <canvas id="lineChart<%= i %>"></canvas>
            <div>
                <h4 class="chartInfo" id="build<%= i %>"></h4>
            </div>
            <div>
                <h4 class="chartInfo" id="duration<%= i %>"></h4>
            </div>
            <div>
                <h4 class="chartInfo">
          Jenkins :
                    <a id="link<%= i %>" target="_blank" rel="noopener">---</a>
                </h4>
            </div>
        </div>
    </div>
</div>
