<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
  <div id="panel<%= i %>" class="x_panel">
    <div class="x_title">
      <h3 id="title<%= i %>"></h3>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <canvas id="lineChart<%= i %>"></canvas>
      <div>
        <h4 id="build<%= i %>"></h4>
      </div>
      <div>
        <h4 id="duration<%= i %>"></h4>
      </div>
      <div>
        <h4>
          Jenkins :
          <a id="link<%= i %>" target="_blank">Report Link</a>
        </h4>
      </div>
    </div>
  </div>
</div>
