<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Dashboard Alarm</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <table bgcolor="#f8f8f8" cellpadding="0" cellspacing="0" style="width:100%;background-color:#f8f8f8;-webkit-text-size-adjust:100%;word-break:keep-all;margin-top:15px">
        <tr>
            <td align="center">
                <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="700" style="margin-top:20px;margin-bottom:20px;border-collapse:collapse;font-family:'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">
                    <tbody>
                        <tr bgcolor="#2a3f54" style="text-indent:10px;color:#ffffff;">
                            <td colspan="3" height="50" style="font-size:25px;padding:10px;"><b>SQA Dashboard</b></td>
                        </tr>
                        <tr>
                            <td width="30px">&nbsp;</td>
                            <td>
                                <table width="100%" cellpadding="0" cellspacing="0" style="font-family:'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">
                                    <tbody>
                                        <tr>
                                            <td colspan="2" style="font-size:38px;height:120px;">자동화 실패 알림 메일입니다.</td>
                                        </tr>
                                        <tr height="2" style="white-space: nowrap;">
                                            <td colspan="2" bgcolor="#2a3f54"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" height="15"></td>
                                        </tr>
                                        <tr style="font-size:18px;">
                                            <td width="30%" height="35">
                                                프로젝트
                                            </td>
                                            <td width="70%" >
                                                <%= projectName %>
                                            </td>
                                        </tr>
                                        <tr style="font-size:18px;">
                                            <td height="35">
                                                빌드종료시간
                                            </td>
                                            <td>
                                                <%= buildTime %>
                                            </td>
                                        </tr>
                                        <tr style="font-size:18px;">
                                            <td height="35">
                                                소속 
                                            </td>
                                            <td>
                                                <%= projectTeam %>
                                            </td>
                                        </tr>
                                        <tr style="font-size:18px;">
                                            <td height="35">
                                                환경
                                            </td>
                                            <td>
                                                <%= projectPlat %>
                                            </td>
                                        </tr>
                                        <tr style="font-size:18px;">
                                            <td height="35">
                                                담당자
                                            </td>
                                            <td>
                                                <%= projectAuth %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" height="30"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" height="50" style="font-size:20px;color:#ff7373;">최근 3번의 빌드에서 아래 Method가 연속으로 실패하였습니다.</td>
                                        </tr>
                                        <tr height="1" style="white-space: nowrap;">
                                            <td colspan="2" bgcolor="#2a3f54"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" height="10"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <table width="100%" cellpadding="0" cellspacing="0" style="table-layout:fixed;color:#95999c;font-family:'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">
                                                    <tbody>
                                                        <% for(var key in failedMethods) { %>
                                                            <tr>
                                                                <td width="40%" height="35" style="font-size:16px;">
                                                                    <span style="border-bottom:1px solid #95999c;padding-bottom:8px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
                                                                        <%= key %>
                                                                    </span>
                                                                </td>
                                                                <td width="60%"></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2" height="8"></td>
                                                            </tr>
                                                            <% failedMethods[key].forEach(function(value) { %>
                                                                <tr>
                                                                    <td title=<%= value[0] %> style="font-size:16px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
                                                                        <%= value[0] %>
                                                                    </td>
                                                                    <td title=<%= value[1] %> style="font-size:16px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
                                                                        <%= value[1] %>
                                                                    </td>
                                                                </tr>
                                                            <% }); %>
                                                            <tr>
                                                                <td colspan="2" height="10"></td>
                                                            </tr>
                                                        <% } %>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" height="25"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" height="1" bgcolor="#2a3f54"></td>
                                        </tr>
                                        <tr>
                                            <td align="center" colspan="2" height="90" style="text-align:center;">
                                                <a href="http://sqa.navercorp.com/auto/" target="_blank">
                                                    <button style="border-radius:5px;background-color:#2a3f54;color:#ffffff;font-size:25px;padding:10px;height:50px;font-family:'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">Dashboard 바로가기</button>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td width="30px">&nbsp;</td>
                        </tr>
                        <tr bgcolor="#2a3f54">
                            <td colspan="2" height="20"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>